/* <============= General =============> */
button:focus {
    outline: none!important;
    box-shadow:none;
}

section.page-section {
    padding-top: 8rem;
    padding-bottom: 8rem;
}



/* <============= Header Section =============> */

/* 1. Navigation Bar */
#brand-logo {
    width: 76px;
    height: 76px;
}

#mainNav {
    background-color: #282828;
}

.nav-link {
    font-size: 1.3rem;
    margin-right: 1.3rem;
}

.nav-link:hover{
    color: #5fbcb1!important;
}


/* 2. Cover Page */
header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background-color: #282828;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
}

hr.divider {
    max-width: 3.25rem;
    border-width: 0.2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    border-color: #ffffff;
}

#takeTour {
    background-color: #5fbcb1;
    border-color: #5fbcb1;
    padding-right: 3rem;
    padding-left: 3rem;
}


header.masthead h1 {
    font-size: 2.25rem;
}

@media (min-width: 992px) {
    header.masthead {
        height: 100vh;
        min-height: 40rem;
        padding-top: 4.5rem;
        padding-bottom: 0;
    }

    header.masthead p {
        font-size: 1.15rem;
    }

    header.masthead h1 {
        font-size: 3rem;
    }
}
@media (min-width: 1200px) {
    header.masthead h1 {
        font-size: 3.5rem;
    }
}

/* <============= About Section =============> */
#about {
    background-color: #5fbcb1;
}